  <style type="text/css">
  a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: green;
}
  body {
    color: green;
    font-family: Helvetica;
    background-color: #CCFF99 }
  h1 {
    text-align: center;
    color: green;
    background-color: #FFFFCC;
        box-shadow: 0px 4px 8px #888888;
  }

h1b{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  
}

  h2{
    display: inline-block;
    text-decoration: bold;
  }
  
  h3{
    text-decoration: bold;
  }
  i{
      padding: 7px 20px 7px 20px;
      border: solid green 9px;
  }
.b{
   background: #64e368;
  background-image: -webkit-linear-gradient(top, #64e368, #4CAF50);
  background-image: -moz-linear-gradient(top, #64e368, #4CAF50);
  background-image: -ms-linear-gradient(top, #64e368, #4CAF50);
  background-image: -o-linear-gradient(top, #64e368, #4CAF50);
  background-image: linear-gradient(to bottom, #64e368, #4CAF50);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Helvetica;
  color: white;
  font-size: 19px;
  padding: 7px 20px 7px 20px;
  text-decoration: none;
      box-shadow: 0px 4px 5px #888888;
  }

  * {
    box-sizing: border-box;
  }
  </style>
  <h1><a href="https://gif-recipes-dleggio1.c9users.io/gifs/"><img src="/images/banner.bmp" alt="recipes-in-a-gif" width="550" height="150"></h1></a>
<div style="text-align:center">
<h1b>Upload GIF</h1b>
<%= form_for :gif, url: gifs_path do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </p>
  
  <p>
    <%= f.label :recipe %><br>
    <%= f.text_area :recipe %>
  </p>
  
  <p>
    <%= f.label :all_tags %><br>
    <%= f.text_field :all_tags, placeholder: "Separated with comma" %>
  </p>
 
<%= f.submit 'Upload', :class => 'b' %>
</div>
<% end %>